*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
    margin: 30px;
}

.form{
    border: 1px solid #fff;
    margin: auto;   
    max-width: 500px;
    max-height: 100%;
    padding: 20px;
    
    
}
.form > h1 {
    margin: auto;
    display: table;
    font-size: 45px;
    padding-bottom: 10px;
}
.form > hr{
    margin-bottom: 20px;
}
.form > label{
    display: flex;
    font-size: 25px;
    margin: 16px 0px 5px 0px;
    font-weight: bold;
}
.form > input{
    border-radius: 4px;
    border-style:none;
    height: 20px;
    
}
#firstName , #phone{
    margin-right: 20px;
}
#text > span{
    font-size: 10px;
    padding-right: 89px;
    padding-left: 2px;
}

#address , #address2{
    width: 100%;
}
span{
    font-size: 10px;
    
}
#address2{
    margin-top: 5px;
}
#text2 > span  {
    font-size: 10px;
    padding-right: 163px;
    padding-left: 2px;
}
#text3 > span{
    font-size: 10px;
    padding-right: 155px;
    padding-left: 2px;
}
select{
    width: 60%;
    height: 20px;
    border-radius: 4px;
    border-style: none;
}

#Gender{
    justify-content: center;
    margin-right: 4px;
    font-size: 14px;
}
.Rating{
    margin-top: 10PX;
}
.Rating > span{
    
    text-align: center;
    font-size: 14px;
    justify-content: center;
    margin-right: 17px;
    
}
.btn{
   margin: auto;
   background-color: blue;
   color: #fff;
   border: 1px solid #fff;
   font-size: 16px;
   border-radius: 4px;
   padding: 5px 10PX;
   display: block;
}
h2{
    margin: auto;
    max-width: 500px;
    display: table;
}
hr{
    max-width: 500px;
    margin: auto;
    height: 3px;
    background: #fff;
}
p{
    margin: auto;
    display: table;
    max-width: 500px;
}
